@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

/* ======================================================== */
/* General styles ========================================== */
body {
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --color: #333;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input {
  font: inherit;
}

/* ======================================================== */
/* General styles ========================================== */
header {
  padding: 2rem;
  text-align: center;
}

/* ======================================================== */
/* Input styles ========================================== */
main {
  display: flex;
  padding: 4rem;
  gap: 3rem;
  border: 5px solid var(--color);
  width: max-content;
  margin-inline: auto;
  font-size: 1.3em;
  box-shadow: inset 2px 2px 12px #333;
}

.color-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.btn {
  height: 3rem;
  background-color: #222;
  color: #eee;
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: none;
  color: #333;
  border: 2.5px dashed var(--color);
}

input {
  padding: 0.2em 0.4em;
  border: none;
  border: 0.5px solid var(--color);
}

.text {
  border: 0.5px solid var(--color);
  border-top: none;
  flex: 1;
  padding-top: 1.2rem;
}
.or {
  display: block;
}

/* ======================================================== */
/* target styles ========================================== */

.target {
  border: 0.2px solid var(--color);
  width: 20rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
